body {
  background-color: #000000;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 70%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(66, 66, 66, 0);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.divcarousel {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.hcarousel {
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.3rem !important;
}
.buttoncitties {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 900;
}

.conteinerHeader {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 15rem;
  margin-top: 8rem;
}

.container {
  /* background: lightblue; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  padding: 1rem;
  width: 7rem;
}

.btnhome {
  padding: 0.8em 1.8em;
  border: 2px solid #ffffff;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #ffffff;
}

.btnhome::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ffffff;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btnhome:hover::before {
  width: 100%;
}

.btnhome:hover {
  color: #111;
  font-weight: 700;
}
.divcalltoactionfather {
  width: auto;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 0.2rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 5s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
  z-index: 1;
}

.divcalltoactionfather:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.1);
  width: auto;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 5s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
  z-index: 1;
}

.divcalltoaction {
  padding: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.flip-card-hover {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-hover-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.flip-card-hover:hover .flip-card-hover-inner {
  transform: rotateY(180deg);
}

.flip-card-hover-front,
.flip-card-hover-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: none;
}

.flip-card-hover-back {
  color: white;
  transform: rotateY(180deg);
}

.flip-card-hover {
  padding: 0.5rem;
}
.imgcarousel {
  border-radius: 0.7rem;
}
.titulocarousel {
  color: #ffffff;
  font-size: 1rem !important;
}
.titulocalltoaction {
  color: white;
  font-size: 1.2rem !important;
}

.footer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000000;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #dddddd;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.btnfooter {
  display: flex;
  flex-direction: column;
}

.hfooter {
  margin-bottom: 3rem;
  padding: 1rem;
  color: #dddddd;
  font-size: 1rem !important;
}
.copyrigthfooter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.calltoaction {
  color: white;
}
.divhcalltoaction {
  padding: 2rem;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.arrowleft {
  padding: 1rem;
  width: 1.5rem;
}

.imgcalltoaction {
  border-radius: 2rem;
}
.calltoactionprincipal {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.tituloheader {
  color: white;
  font-size: 1.3rem !important;
}
.construction {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.imgconstruction {
  width: 25rem;
  padding: 2rem;
}
.logoinheader {
  width: 12rem;
}
.conteinerlogoinheader {
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
}
.titulocities {
  text-align: center;
  color: white;
  z-index: 1;
  font-size: medium;
}
.conteinertituloysearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  z-index: 1;
}

.Selectcountry {
  display: flex;
  margin: 1rem;
  border-radius: 0.5rem;
  height: 2.5rem;
}
.titleSignIn {
  margin-top: 2rem;
}
.text-center {
  display: flex;
}

.divtitleform {
  text-align: center;
}
.arrowdown {
  width: 2rem;
  height: 2rem;
  z-index: 1;
}
.conteinercard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 5rem;
  z-index: 1;
}
.conteinerimgcard-Not {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
}
.imgcard-not {
  width: 265px;
  height: 15rem;
  object-fit: cover center;
  border-radius: 10px;
}
.conteinerimgcard {
  padding: 0.4rem;
}
.imgcard {
  width: 100%;
  border-radius: 0.7rem;
}
.imgconstruction {
  width: 15rem;
}
.conteinertextocard {
  padding: 1rem;
}
.titulocard {
  color: white;
  font-size: 1rem !important;
}
.descripcioncard {
  color: white;
  font-size: 0.8rem !important;
}
.card {
  margin: 2.5rem;
  padding: 1rem;
  width: 200px;
  height: auto;
  border-radius: 0.7rem;
  box-shadow: 3px 5px 20px 1px #6d6d6d88;
  background-color: #161616;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  z-index: 1;
}
.card3 .cardComments {
  margin: 2.5rem;
  padding: 10rem;
  width: 150px;
  height: 50%;
  border-radius: 0.7rem;
  box-shadow: 3px 5px 20px 1px #6d6d6d88;
  background-color: #161616;
}

.card:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.1);
  background-color: #111111;
  box-shadow: 0px 0px 30px 1px #ffffff88;
  z-index: 1;
}
.divUnderConstruction {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contTituloConstruction {
  display: flex;
  align-items: center;
}
.imgConstruction {
  width: 12rem;
}
.DetailsCard {
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: auto;
}
.conteinertextocarddetails {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.carddetails {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 60%;
}
.conteinercarddetalles {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
}
.tituloItinerario {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.descriptionitinerarytitulo {
  display: flex;
  flex-direction: column;
  font-size: 1rem !important;
}
.imgdetails {
  width: 100% 30%;
  height: 15rem;
  object-position: center center;
  object-fit: contain;
  border-radius: 1rem;
}
.divImgDetails {
  width: 100%;
}
.conteinerdatadetails {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: auto;
}
.conteinerimgdetails {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 50%;
}
.video {
  opacity: 0.5;
}
.videocalltoaction {
  opacity: 0.3;
  margin-top: 10rem;
  margin-right: 10rem;
  width: auto;
}
.inputsearch {
  width: 25rem;
  text-align: center;
  height: 2rem;
  color: white;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  border-color: rgb(236, 236, 236);
  transition: all 0.3s;
  z-index: 1;
  font-size: 1rem !important;
  font-weight: 600;
}
.inputsearch :placeholder-shown {
  color: #ffffff;
}
.inputsearch ::placeholder {
  color: #ffffffab;
  font-weight: 600;
}
.conteinernotfound {
  padding: 4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.imgnotfound {
  width: 10rem;
  height: 10rem;
}

/* ESTILO DE BUTON CITIES */
.contenedorbuttoncities {
  margin-top: 2.3rem;
  display: flex;
  justify-content: center;
}
.btndetails {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: rgb(238, 238, 238);
  text-decoration: none;
}
a {
  text-decoration: none;
}

.btndetails:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btndetails:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btndetails::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btndetails::after {
  background-color: #fff;
}

.btndetails:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
/* FIN DE BUTTON CITIES */

@media (max-width: 768px) {
}
.conteinerimguser {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.imgitinerario {
  width: 6rem;
  height: 6rem;
  border-radius: 5% 40% 40% 40%;
  object-fit: cover;
}
.imgitinerariodetalle {
  margin-top: 2rem;
  border-radius: 2rem;
  width: 90%;
  display: flex;
  justify-content: center;
}
.conteinerItinerarios {
  width: 70%;
  height: 50%;
}
.tituloeimgitinerario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.itinerario {
  background-color: rgba(211, 211, 211, 0.856) !important;
  padding: 1rem;
  margin: 4rem;
}
.imgbandera {
  border-radius: 1.5rem;
  width: 12rem;
  padding: 0.8rem;
}
.infoitinerario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.divActivities {
  object-fit: cover;
  height: 50%;
  width: 50%;
  display: flex;
}

.form-group {
  display: flex;
  justify-content: center;
  width: 30rem;
}
.divunselected {
  display: flex;
  flex-direction: column;
}
.conteinerActivities {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.divCarouselActivities {
  display: flex;
}
.titleActivity {
  text-align: center;
  width: 100%;
}
.divTitleActivity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 50%;
}
.divImgActivity {
  object-fit: contain;
  width: 20rem;
  height: 15rem;
}
.imgActivities {
  border-radius: 1rem;
  width: 100%;
  height: 13rem;
  object-fit: cover;
}
.activitiesDetail {
  background-color: black;
  color: white;
}
.accordion-header {
  background-color: #000;
}
.accordion-button:focus {
  border-color: black !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}
.MuiAvatar-root {
  width: 3.5rem !important;
  height: 3.5rem !important;
}
